@page "/cliressystem/admin/permission"
@inject NavigationManager NavigationManager
@inject IPermissionService PermissionService
@inject ILanguageContainerService languageContainer

@attribute [Authorize(Roles = "PERMISSION_VIEW")]
    <!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@languageContainer.Keys["permission:permission_management"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">@languageContainer.Keys["layout:administration"]</a></li>
                    <li class="breadcrumb-item active">@languageContainer.Keys["layout:permission"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with minimal features & hover style</h3>
                    </div>
                    <div class="card-body">
                        @if (permission != null)
                        {                          
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>@languageContainer.Keys["permission:permission_name"]</th>
                                        <th>@languageContainer.Keys["common:status"]</th>
                                        <th>@languageContainer.Keys["common:created_by"]</th>
                                        <th>@languageContainer.Keys["common:created_date"]</th>
                                        <th>@languageContainer.Keys["common:action"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var perm in permission)
                                    {
                                    <tr>
                                        <td>@index</td>
                                        <td>
                                            <NavLink href="@($"/permission/{perm.PermissionID}")">
                                                @perm.PermissionID
                                            </NavLink>
                                        </td>
                                        <td>
                                            @perm.Status
                                        </td>
                                        <td>
                                            @perm.CreatedBy
                                        </td>
                                        <td>
                                            @(perm.CreatedDate.ToString("yyyy-MM-dd"))
                                        </td>
                                        <td>
                                            <AuthorizeView Roles="PERMISSION_EDIT">
                                                <NavLink href="@($"/permission/{perm.PermissionID}")" class="btn btn-info btn-xs">
                                                    @languageContainer.Keys["common:edit"]
                                                </NavLink>
                                            </AuthorizeView>
                                            <AuthorizeView Roles="PERMISSION_DELETE">
                                                <button type="button" class="btn btn-danger btn-xs">@languageContainer.Keys["common:delete"]</button>
                                            </AuthorizeView>
                                        </td>
                                    </tr>

                                    }
                                </tbody>
                            </table>
                        }

                    </div>
                    <div class="card-footer">
                        <AuthorizeView Roles="PERMISSION_CREATE">
                            <button class="btn btn-primary" @onclick="AddPermission">Add Permission</button>
                        </AuthorizeView>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

@code {
    IEnumerable<Permission> permission;
    int index = 1;
    protected override async Task OnInitializedAsync()
    {
        languageContainer.InitLocalizedComponent(this);
        permission = await PermissionService.ViewPermissionAsync();
    }

    private void AddPermission()
    {
        NavigationManager.NavigateTo($"/cliressystem/admin/permission/addpemission");
    }

}

