@page "/cliressystem/admin/group"

@inject IJSRuntime JS
@inject NavigationManager navigationManager
@inject IGroupService groupService
@inject ILanguageContainerService languageContainer

@attribute [Authorize(Roles = "GROUP_VIEW")]
    <!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@languageContainer.Keys["group:group_management"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">@languageContainer.Keys["layout:administration"]</a></li>
                    <li class="breadcrumb-item active">@languageContainer.Keys["layout:group"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <AuthorizeView Roles="GROUP_CREATE">
                            <button class="btn btn-primary" @onclick="AddGroup">@languageContainer.Keys["group:add_group"]</button>
                        </AuthorizeView>
                    </div>
                    <div class="card-body">
                        @if (groups != null)
                        {
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>@languageContainer.Keys["group:group_name"]</th>
                                        <th>@languageContainer.Keys["label_common:status"]</th>
                                        <th>@languageContainer.Keys["label_common:created_by"]</th>
                                        <th>@languageContainer.Keys["label_common:created_date"]</th>
                                        <th>@languageContainer.Keys["label_common:action"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var group in groups)
                                    {
                                        <tr>
                                            <td>@index</td>
                                            <td>
                                                @group.GroupName
                                            </td>
                                            <td>
                                                @group.Status
                                            </td>
                                            <td>
                                                @group.CreatedBy
                                            </td>
                                            <td>
                                                @(group.CreatedDate.ToString("yyyy-MM-dd"))
                                            </td>
                                            <td>
                                                <AuthorizeView Roles="PERMISSION_EDIT">
                                                    <NavLink href="@($"/cliressystem/admin/group/{group.GroupID}")" class="btn btn-info btn-xs">
                                                        @languageContainer.Keys["button:edit"]
                                                    </NavLink>
                                                </AuthorizeView>
                                                <AuthorizeView Roles="PERMISSION_DELETE">
                                                    <button type="button" @onclick="() => DeleteGroup(group.GroupID, group.GroupName)" class="btn btn-danger btn-xs">@languageContainer.Keys["button:delete"]</button>
                                                </AuthorizeView>
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        }

                    </div>
                    <!-- /.col -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<DialogModel @ref="dialogModel" ConfirmationChanged="ClickHandler"></DialogModel>

@code {
    DialogModel dialogModel;
    IEnumerable<Group> groups;
    int delGroupId = 0;
    bool showModel;
    int index = 1;
    protected override async Task OnInitializedAsync()
    {
        languageContainer.InitLocalizedComponent(this);
        groups = await groupService.ViewGroupAsync();
    }

    private void AddGroup()
    {
        navigationManager.NavigateTo($"/cliressystem/admin/group/addgroup");
    }

    private void DeleteGroup(int groupID, string groupName)
    {
        delGroupId = groupID;
        dialogModel.confirmationTitle = languageContainer.Keys["dialog:delete_title"];
        dialogModel.confirmationMessage = @languageContainer.Keys["dialog:delete_message", new
        {
            item = groupName
        }];
        dialogModel.Show();

    }

    async Task ClickHandler(bool value)
    {
        bool result = true;
        if (value)
        {
            result = await groupService.DeleteGroupAsync(delGroupId);
        }
        if (result)
        {
            await JS.InvokeVoidAsync("showAlert", "success", languageContainer.Keys["dialog:delete_success"]);
            groups = await groupService.ViewGroupAsync();
        }
        else
        {
            await JS.InvokeVoidAsync("showAlert", "error", languageContainer.Keys["dialog:delete_error"]);
        }
    }
}

